// color
$cor-primary:#AA0601;
$cor-secondary:#650300;
$cor-third:#AA06010D;

$cor-basic-W:#ffffff;
$cor-basic-B:#000000;

$cor-Gray-Blue:#212529;
$cor-Gray-LightBlue:#DEE2E6;
$cor-Gray:#707070;
$cor-Gray-Light:#00000029;

// font-size
$fz-basic:1rem;

$fz-1:$fz-basic*0.875;
$fz-2:$fz-basic*1.25;
$fz-3:$fz-basic*1.5;
$fz-3-1:$fz-basic*1.75;
$fz-4:$fz-basic*2.25;
$fz-5:$fz-basic*3;
$fz-5-1:$fz-basic*3.5;
$fz-6:$fz-basic*4;
$fz-7:$fz-basic*4.5;

// line-height
$lHeight-basic:1;


// font-type


// padding margin

$basic-Distance:0.5rem;

$distance-1:$basic-Distance*2;
$distance-1-1:$basic-Distance*2.5;
$distance-2:$basic-Distance*3.75;
$distance-3-1:$basic-Distance*3;
$distance-3:$basic-Distance*4;
$distance-4:$basic-Distance*5;
$distance-5:$basic-Distance*7.5;
$distance-5-1:$basic-Distance*9;
$distance-6:$basic-Distance*9.5;
$distance-7:$basic-Distance*10;





